.custom-theme {
  .ant-divider {
    margin: 0;
    border-color: var(--accent-color);
  }

  //!Input

  .ant-input {
    font-family: "IdealistSans";
    color: var(--white-color);
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--element-color);

    &::placeholder {
      color: var(--accent-color);
    }

    &:hover {
      border-color: var(--hover-accent-color);
    }
  }

  .ant-input-affix-wrapper {
    max-height: fit-content;
    font-size: 14px;
    padding: 8px 10px;
    border: solid 2px var(--accent-color);
    border-radius: 8px;
    background-color: var(--element-color);

    &:not(.ant-input-affix-wrapper-disabled):hover {
      border-inline-end-width: 2px;
    }

    &.ant-input-affix-wrapper-focused {
      border-color: var(--hover-accent-color);
      box-shadow: 0 0 10px var(--accent-color);
    }
  }

  .ant-input-clear-icon svg {
    fill: var(--accent-color);

    &:hover {
      fill: var(--hover-accent-color);
    }
  }

  .ant-input-group-addon {
    border: none;

    .ant-select.ant-select-single {
      &:not(.ant-select-customize-input) .ant-select-selector {
        border: 2px solid var(--accent-color);
        border-right: 0;

        .ant-select-selection-item {
          font-size: 14px;
        }

        &:hover {
          border-color: var(--hover-accent-color);
        }
      }
    }
  }

  //!Textarea

  .ant-input-affix-wrapper-textarea-with-clear-btn {
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 20px 8px 10px !important;
    border: solid 2px var(--accent-color) !important;

    .ant-input {
      &:focus {
        box-shadow: none;
      }
    }

    &:hover {
      border-color: var(--hover-accent-color) !important;
    }

    &.ant-input-affix-wrapper-textarea-with-clear-btn-focused {
      border-color: var(--hover-accent-color);
      box-shadow: 0 0 10px var(--accent-color);
    }
  }

  //!NumberInput

  .ant-input-number {
    width: 100%;
    height: fit-content;
    padding: 8px 10px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    background-color: var(--element-color);

    .ant-input-number-input {
      height: 22px;
      padding: 0;
      font-size: 14px;
      color: var(--white-color);

      &::placeholder {
        color: var(--accent-color);
      }
    }

    &:hover {
      border-color: var(--hover-accent-color);
      border-inline-end-width: 2px;
    }

    &.ant-input-number-focused {
      border-color: var(--hover-accent-color);
      box-shadow: 0 0 10px var(--accent-color);
    }
  }

  .ant-input-number-group-addon {
    &:first-child {
      font-size: 14px;
      color: var(--white-color);
      border: 2px solid var(--accent-color);
      border-right-width: 0;
      border-start-start-radius: 8px;
      border-end-start-radius: 8px;
    }
  }

  .ant-input-number-group-wrapper {
    display: block;
  }

  //!Select

  .ant-select {
    .ant-select-selector {
      font-size: 14px;
      padding: 0 10px;
      border: solid 2px var(--accent-color);
      border-radius: 8px;
      background-color: var(--element-color);

      .ant-select-selection-placeholder {
        color: var(--accent-color);
        line-height: 38px;
      }
    }

    .ant-select-arrow svg {
      fill: var(--accent-color);
    }

    .ant-select-clear {
      background: var(--element-color);

      svg {
        fill: var(--hover-accent-color);
      }
    }
  }

  .ant-select-focused.ant-select {
    &:not(.ant-select-disabled) {
      &:not(.ant-select-customize-input) {
        &:not(.ant-pagination-size-changer) .ant-select-selector {
          color: var(--white-color);
          box-shadow: 0 0 10px var(--accent-color);
        }
      }
    }
  }

  .ant-select-single {
    .ant-select-selector .ant-select-selection-item {
      line-height: 38px;
    }

    &.ant-select-open .ant-select-selection-item {
      color: var(--accent-color);
    }

    &:not(.ant-select-customize-input) .ant-select-selector {
      height: 42px;
    }
  }

  .ant-select-dropdown {
    padding: 4px;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    background-color: rgba($color: #3a3e62, $alpha: 0.7);
    backdrop-filter: blur(4px);

    .rc-virtual-list-holder-inner {
      gap: 5px;

      .ant-select-item {
        font-size: 14px;
      }

      .ant-select-item-option-selected {
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.5);

        &:not(.ant-select-item-option-disabled) {
          background-color: var(--accent-color);
        }
      }

      .ant-select-item-option-active {
        background-color: var(--opacity-accent-color);
      }
    }
  }

  //!DateRange

  .ant-picker {
    .ant-picker-input {
      & input {
        height: 22px;
        padding: 0;
        font-size: 14px;
        color: var(--white-color);

        &::placeholder {
          color: var(--accent-color);
        }
      }
    }

    .ant-picker-suffix {
      margin-inline-end: 1px;
    }

    .ant-picker-clear {
      display: none;
    }

    .anticon svg {
      background: var(--element-color);
      fill: var(--accent-color);
      stroke: var(--accent-color);
      transition: 0.2s ease-in-out;
    }

    &.ant-picker-range {
      width: 100%;
      height: fit-content;
      padding: 8px 10px;
      border: 2px solid var(--accent-color);
      border-radius: 8px;
      background-color: var(--element-color);
      transition: 0.2s ease-in-out;

      &:hover {
        border-color: var(--hover-accent-color);
      }
    }
  }

  .ant-picker-focused {
    border-color: var(--hover-accent-color) !important;
    box-shadow: 0 0 10px var(--accent-color);
  }

  .ant-picker-disabled {
    .ant-picker-input {
      & input {
        color: var(--hover-accent-color);

        &::placeholder {
          color: var(--hover-accent-color);
        }
      }
    }

    .anticon svg {
      fill: var(--hover-accent-color);
      stroke: var(--hover-accent-color);
    }

    &.ant-picker-range {
      border-color: var(--hover-accent-color);
    }
  }

  .ant-picker-status-error {
    &.ant-picker:not([disabled]):hover {
      background-color: var(--element-color);
    }
  }

  .ant-picker-dropdown {
    .ant-picker-range-arrow::before {
      background: var(--accent-color);
    }

    .ant-picker-panel-container {
      border: 2px solid var(--accent-color);
      background: transparent;

      .ant-picker-panels {
        .ant-picker-panel {
          font-size: 14px;
          background-color: rgba($color: #3a3e62, $alpha: 0.7);
          backdrop-filter: blur(4px);

          .ant-picker-header {
            border-color: var(--accent-color);
          }

          .ant-picker-body {
            & th {
              color: var(--accent-color);
            }

            .ant-picker-cell-in-view {
              &.ant-picker-cell-in-range {
                &::before {
                  background: var(--opacity-primary-color);
                }

                &.ant-picker-cell-range-hover-start,
                &.ant-picker-cell-range-hover-end {
                  .ant-picker-cell-inner {
                    border-radius: 4px;
                    background: var(--hover-primary-color);

                    &::after {
                      background: transparent;
                    }
                  }
                }
              }

              &.ant-picker-cell-range-start {
                &:not(.ant-picker-cell-range-start-single)::before {
                  background: var(--opacity-primary-color);
                }
              }

              &.ant-picker-cell-range-end {
                &:not(.ant-picker-cell-range-end-single)::before {
                  background: var(--opacity-primary-color);
                }
              }
            }
          }
        }
      }
    }
  }

  //!BlockPopover

  .ant-popover {
    .ant-popover-content {
      max-width: 400px;

      .ant-popover-arrow:before {
        background: var(--accent-color);
      }

      .ant-popover-inner {
        border: 2px solid var(--accent-color);
        background-color: rgba($color: #3a3e62, $alpha: 0.7);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 10px var(--accent-color);
      }
    }
  }

  //!Modal

  .ant-modal-root {
    .ant-modal-mask {
      backdrop-filter: blur(4px);
    }

    .ant-modal-wrap {
      padding: 50px;

      .ant-modal {
        &.custom-modal-setting {
          max-width: 600px !important;

          .ant-modal-content {
            border-radius: 14px;
            padding: 20px 25px;
            background-color: var(--element-color);

            .ant-modal-close-icon svg {
              fill: var(--accent-color);
            }
          }
        }

        &.custom-modal-preview {
          width: 100% !important;
          max-width: 1000px !important;

          .ant-modal-content {
            padding: 84px;
            border-radius: 14px;
            background-color: rgba($color: #000214, $alpha: 0.6);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 20px var(--accent-color);
          }
        }
      }
    }
  }

  //!Drawer
  .header-drawer {
    .ant-drawer-header {
      background-color: var(--background-color);

      .ant-drawer-title {
        color: white;
      }
    }

    .ant-drawer-body {
      background-color: var(--background-color);
    }
  }

  //!Radio

  // .ant-upload-list-item-undefined {
  //   .ant-upload-text-icon svg {
  //     fill: var(--white-color);
  //   }

  //   .ant-upload-list-item-name {
  //     color: var(--white-color);
  //   }

  //   .ant-upload-list-item-actions svg {
  //     fill: var(--error-color);
  //   }
  // }

  // .color-picker {
  //   border-radius: 1vw;
  //   padding: 0.7vw;
  //   background-color: var(--element-color);

  //   .v-sheet {
  //     border-radius: 1vw;
  //     box-shadow: none;
  //     background-color: var(--element-color);
  //   }

  //   .v-color-picker-edit__input {
  //     & input {
  //       height: 3vw;
  //       color: var(--white-color);
  //       border: 2px solid var(--accent-color);
  //       border-radius: 1vw;
  //       font-size: 1.3vw;
  //       background-color: transparent;
  //       font-family: "Montserrat Alternates";
  //     }

  //     & span {
  //       color: var(--white-color);
  //       font-size: 1vw;
  //       margin: 0;
  //       font-family: "Montserrat Alternates";
  //     }
  //   }

  //   .v-color-picker-canvas {
  //     border-radius: 1vw;
  //   }

  //   .v-color-picker-preview__eye-dropper,
  //   .v-color-picker-preview__dot,
  //   .v-slider-thumb__ripple {
  //     display: none;
  //   }

  //   .v-color-picker-preview__sliders {
  //     padding: 0;
  //   }

  //   .v-slider-thumb__surface {
  //     width: 1.3vw;
  //     height: 1.3vw;
  //     background-color: var(--element-color);
  //     border: 1px solid var(--accent-color);

  //     &:active {
  //       background-color: var(--accent-color);
  //       border: 0.1vw solid var(--element-color);
  //       transition: 0.4s ease;
  //     }
  //   }
  // }

  //! Ant Form Item
  .ant-form-item {
    margin: 0;
  }

  .ant-form-item-explain {
    font-size: 14px;
  }

  @media (max-width: 1024px) {
    //!Input

    .ant-input-affix-wrapper {
      font-size: 12px;
    }

    .ant-input-group-addon {
      .ant-select.ant-select-single {
        &:not(.ant-select-customize-input) .ant-select-selector {
          .ant-select-selection-item {
            font-size: 12px;
          }
        }
      }
    }

    //!Textarea

    .ant-input-affix-wrapper-textarea-with-clear-btn {
      .ant-input {
        font-size: 12px;
      }
    }

    //!NumberInput

    .ant-input-number {
      .ant-input-number-input-wrap {
        height: 18px;

        .ant-input-number-input {
          height: 18px;
          font-size: 12px;
        }
      }
    }

    .ant-input-number-group-addon {
      &:first-child {
        min-width: 38px;
        max-width: 38px;
        font-size: 12px;
      }
    }

    //!Select

    .ant-select {
      .ant-select-selector {
        font-size: 12px;

        .ant-select-selection-placeholder {
          line-height: 34px;
        }
      }
    }

    .ant-select-single {
      .ant-select-selector .ant-select-selection-item {
        line-height: 34px;
      }

      &:not(.ant-select-customize-input) .ant-select-selector {
        height: 38px;
      }
    }

    .ant-select-dropdown {
      .rc-virtual-list-holder-inner {
        .ant-select-item {
          font-size: 12px;
        }
      }
    }

    //!DateRange

    .ant-picker {
      .ant-picker-input {
        & input {
          height: 18px;
          font-size: 12px;
        }
      }
    }

    .ant-picker-dropdown {
      .ant-picker-panel-container {
        .ant-picker-panels {
          .ant-picker-panel {
            font-size: 12px;

            &:nth-child(1) {
              .ant-picker-header {
                .ant-picker-header-next-btn,
                .ant-picker-header-super-next-btn {
                  visibility: visible !important;
                }
              }
            }

            &:nth-child(2) {
              display: none !important;
            }
          }
        }
      }
    }

    //!BlockPopover

    .ant-popover {
      .ant-popover-content {
        max-width: 300px;
      }
    }

    //!Modal

    .ant-modal-root {
      .ant-modal-wrap {
        padding: 30px;

        .ant-modal {
          &.custom-modal-setting {
            max-width: 500px !important;
          }

          &.custom-modal-preview {
            max-width: 700px !important;

            .ant-modal-content {
              padding: 60px;
            }
          }
        }
      }
    }

    //! Ant Form Item
    .ant-form-item-explain {
      font-size: 12px;
    }
  }

  @media (max-width: 540px) {
    //!Input

    .ant-input {
      line-height: 1;
    }

    .ant-input-affix-wrapper {
      font-size: 10px;
      border-width: 1px !important;

      textarea {
        font-size: 10px;
      }

      &:not(.ant-input-affix-wrapper-disabled):hover {
        border-inline-end-width: 1px;
      }
    }

    .ant-input-group-addon {
      .ant-select.ant-select-single {
        &:not(.ant-select-customize-input) .ant-select-selector {
          border-width: 1px;

          .ant-select-selection-item {
            font-size: 10px;
          }
        }
      }
    }

    //!Textarea

    .ant-input-affix-wrapper-textarea-with-clear-btn {
      .ant-input {
        line-height: 1.8;
        font-size: 10px;
        border-width: 1px !important;
        min-height: 18px !important;
      }
    }

    //!NumberInput

    .ant-input-number {
      border-width: 1px;
      .ant-input-number-input-wrap {
        .ant-input-number-input {
          font-size: 10px;
        }
      }

      &:hover {
        border-inline-end-width: 1px;
      }
    }

    .ant-input-number-group-addon {
      &:first-child {
        min-width: 36px;
        max-width: 36px;
        font-size: 10px;
        border-width: 1px;
        border-right: 0;
      }
    }

    //!Select

    .ant-select {
      .ant-select-selector {
        font-size: 10px;
        border: solid 1px var(--accent-color);
      }
    }

    .ant-select-single {
      &:not(.ant-select-customize-input) .ant-select-selector {
        height: 36px;
      }
    }

    .ant-select-dropdown {
      .rc-virtual-list-holder-inner {
        .ant-select-item {
          font-size: 10px;
        }
      }
    }

    //!DateRange

    .ant-picker {
      .ant-picker-input {
        & input {
          font-size: 10px;
        }
      }

      &.ant-picker-range {
        border-width: 1px;
      }
    }

    .ant-picker-dropdown {
      .ant-picker-panel-container {
        border-width: 1px;

        .ant-picker-panels {
          .ant-picker-panel {
            font-size: 10px;
          }
        }
      }
    }

    //!BlockPopover

    .ant-popover {
      .ant-popover-content {
        max-width: 200px;
      }
    }

    //!Modal

    .ant-modal-root {
      .ant-modal-wrap {
        .ant-modal {
          &.custom-modal-setting {
            width: 100% !important;
            max-width: 400px !important;

            .ant-modal-content {
              padding: 15px;
            }
          }

          &.custom-modal-preview {
            max-width: 500px !important;

            .ant-modal-content {
              padding: 30px;
            }
          }
        }
      }
    }

    //! Ant Form Item
    .ant-form-item-explain {
      font-size: 10px;
    }
  }
}
